# Visual Studio .NET files
*.suo
*.user
*.aps
*.pch
*.vspscc
*.vssscc
_ReSharper*
*ReSharper*
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.libs
*.obj
*.pdb
*.ilk
*.ipch
*.bak
[Dd]ebug*/
[Rr]elease*/
_UpgradeReport_Files/
UpgradeLog*.XML
*.psess
*.dbmdl
*.jfm
*.suo
.DS_Store
.env
.vscode/
.settings/
*.sln.docstates

# jQuery JavaScript files
/jquery-*.min.js
/jquery*.js
/jquery.js
/jquery.min.js
/jquery-ui*.js
/jquery-ui*.min.js
/jquery-ui.js
/jquery-ui.min.js